.footer-container {
  width: 100%;
  position: fixed;
  height: 80px;
  bottom: 0;
  z-index: 5;
  background-color: #1e2c3a; /* Adjust the background color as needed */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 1px solid #436485;
}

.d-flex-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  width: 20%;
  padding: 10px 10px;
  background: none;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: white;
}

.active {
  cursor: pointer;
  color: #00bfff;
  border-radius: 10px;
  background-color: #0E1621;
}

.footer .icon {
  font-size: 1.5em;
}

.footer-text {
  font-size: 12px;
  margin-top: 5px;
}
